[submodule "submodules/fontawesome"]
	path = submodules/fontawesome
	url = git://github.com/FortAwesome/Font-Awesome.git
[submodule "submodules/cssgrid"]
	path = submodules/cssgrid
	url = git://github.com/andytlr/cssgrid.git
