
@import url("http://fonts.googleapis.com/css?family=Bitter:700");
@import url("http://fonts.googleapis.com/css?family=Lato:400,900");
@import url("http://fonts.googleapis.com/css?family=Inconsolata");
@import url("http://fonts.googleapis.com/css?family=Merriweather+Sans:400");

body {
	font-family: "Lato", "Open Sans", helvetica, sans-serif;
	font-size: 16px;
	color: rgba(0, 0, 0, 0.9);
	padding-top: 16px;
	padding-bottom: 64px;
}

div.info {
	text-align: center;
	padding: 32px 0px;
}

a#name {
	color: rgba(0, 0, 0, 0.9);
	font-size: 50px;
	font-family: "Bitter", serif;
	font-weight: bold;
	display: block;
	line-height: 1em;
}

a#name:hover {
	color: rgba(0, 0, 0, 0.7);
	text-decoration: none;
}

span#subtitle {
	font-family: "Merriweather Sans", sans-serif;
	color: rgba(0, 0, 0, 0.4);
	font-size: 22px;
	line-height: 2.2em;
}

div.social > a {
	font-family: "Lato", helvetica, sans-serif;
	color: #5bb4c0;
	font-weight: 900;
	text-decoration: none;
	font-size: 18px;
	line-height: 1em;
}

div.social {
	color: rgba(0, 0, 0, 0);
}

div.content {
	font-size: 16px;
}

h1.title {
	text-align: center;
	font-weight: bold;
	font-size: 24px;
	color: rgba(0, 0, 0, 0.9);
}

article.post {
	margin-bottom: 64px;
}

.left {
	text-align: left;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

a.nav {
	font-weight: bold;
	color: rgba(0, 0, 0, 0.9);
}
