
@import url("http://fonts.googleapis.com/css?family=Bitter:700");
@import url("http://fonts.googleapis.com/css?family=Lato:400,900");
@import url("http://fonts.googleapis.com/css?family=Inconsolata");
@import url("http://fonts.googleapis.com/css?family=Merriweather+Sans:400");

body {
	font-family: "Lato", "Open Sans", helvetica, sans-serif;
	font-size: 16px;
	color: rgba(0, 0, 0, 0.9);

	margin-top: 16px;
	background-color: white;
}

span#name {
	font-size: 50px;
	font-family: "Bitter", serif;
	font-weight: bold;
	display: block;
	line-height: 1em;
}

span#subtitle {
	font-family: "Merriweather Sans", helvetica, sans-serif;
	color: rgba(0, 0, 0, 0.4);
	font-size: 22px;
	line-height: 2.2em;
}

div.social > a {
	font-family: "Lato", helvetica, sans-serif;
	color: rgba(104, 0, 255, 0.8);
	font-weight: 900;
	text-decoration: none;
	font-size: 18px;
	line-height: 1.8em;
}

div.social {
	color: rgba(0, 0, 0, 0);
}

div.content {
	font-size: 16px;
}

p {
	margin: 16px 0px;
	line-height: 1.5em;
}

h2.title {
	text-align: right;
	font-weight: bold;
	font-size: 32px;
}

hr {
	border: 0px;
	height: 1px;
	background-color: rgba(0, 0, 0, 0.2);
}

code {
	font-family: "Inconsolata", courier, monospace;
	padding: 0px 4px;
	color: rgba(104, 0, 255, 0.8);
	background-color: rgba(0, 0, 0, 0.02);
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 4px;
}

pre {
	padding: 0px 4px;
	line-height: 0.8em;
	padding: 6px 12px;
	background-color: rgba(0, 0, 0, 0.02);
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 4px;
	margin-bottom: 16px;
}

pre > code {
	color: rgba(0, 0, 0, 0.9);
	font-size: 14px;
	padding: 0px;
	background-color: rgba(0, 0, 0, 0);
	border: none;
	line-height: 1.2em;
}

article.post {
	margin-bottom: 64px;
}

h1 {
	font-size: 22px;
	font-weight: bold;
}

h2 {
	font-size: 20px;
	font-weight: bold;
}

h3 {
	font-size: 18px;
	font-weight: bold;
}

h4 {
	font-size: 16px;
	font-weight: bold;
}

h5 {
	font-size: 14px;
	font-weight: bold;
}

h6 {
	font-size: 12px;
	font-weight: bold;
}

ul {
	list-style-type: square;
}

ol {
	list-style-type: upper-roman;
}

blockquote {
	padding-left: 16px;
	/*border-left: 4px solid rgba(91, 180, 192, 0.5);*/
	/*border-left: 4px solid rgba(255, 150, 0, 0.5);*/
	border-left: 4px solid rgba(104, 0, 255, 0.6);
}
