<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Lane Aasen</title>
		<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
		<script type="text/javascript" src="/submodules/cssgrid/js/css3-mediaqueries.js"></script>
		<link rel="stylesheet" href="/submodules/cssgrid/css/1140.css" type="text/css" media="screen"/>
		<link rel="stylesheet" href="/submodules/fontawesome/css/font-awesome.min.css">

		<link rel="stylesheet" href="/assets/css/reset.css">
		<link rel="stylesheet" href="/assets/css/blog.css">
		<link rel="stylesheet" href="/assets/css/pygments.css">
	</head>

	<body>
		<div class="container">
			<div class="row">
				<div class="fourcol info">				
					<div id="title">
						<span id="name">Lane Aasen</span>
						<span id="subtitle">software adventurer</span>
					</div>

					<div class="social">
						<a id="github" href="https://github.com/aaasen">
							<i class="icon-github"></i>
							github
						</a> &middot;
						<a id="twitter" href="https://twitter.com/aaaasen">
							<i class="icon-twitter"></i>
							twitter
						</a>
					</div>
				</div>

				<div class="eightcol last content">

					{{ content }}

				</div>
			</div>
		</div>
		
		<script type="text/javascript">
			$(document).ready(function () {
				mixpanel.track('load');
			
				mixpanel.track_links('a#github', 'link', { 'target' : 'github' });
				mixpanel.track_links('a#twitter', 'link', { 'target' : 'twitter'});
				mixpanel.track_links('a#linkedin', 'link', { 'target' : 'linkedin'});
			});
		</script>
	</body>
</html>
