---
layout: index
---

<article class="post">
	<h1 class="title">{{ page.title }}</h1>

	<h6 class="center">posted on {{ page.date | date: "%B %d" }} in {{ page.category }}</h6>

	<hr>

	{{ content }}

</article>

<div id="nav">
	<div class="row">
		<hr>

		<div class="sixcol left">
			{% if page.previous.url %}
				<a class="nav" href="{{page.previous.url}}">{{page.previous.title}}</a>
			{% endif %}
		</div>
	
		<div class="sixcol right last">
			{% if page.next.url %}
				<a class="nav" href="{{page.next.url}}">{{page.next.title}}</a>
			{% endif %}
		</div>
	</div>
</div>
